$fontsRoute: '../fonts/';

// Sora light
@font-face {
  font-family: 'Sora';
  src: url($fontsRoute + 'Sora/Sora-Light.ttf') format('truetype');
  font-weight: 300;
}

// Sora normal
@font-face {
  font-family: 'Raleway';
  src: url($fontsRoute + 'Sora/Sora-Regular.ttf') format('truetype');
  font-weight: normal;
}

// Sora bold
@font-face {
  font-family: 'Sora';
  src: url($fontsRoute + 'Sora/Sora-Bold.ttf') format('truetype');
  font-weight: bold;
}
