{% extends 'base.twig' %}

{% block content %}
	<main>
		{# Hero section #}
		{% include 'pages/front-page/sections/hero-section.twig' %}

		{# Services section #}
		{% include 'pages/front-page/sections/services-section.twig' %}

		{# Skills section #}
		{% include 'pages/front-page/sections/skills-section.twig' %}

		{# Recent work section #}
		{% include 'pages/front-page/sections/recent-work-section.twig' %}

		{# Experience section #}
		{% include 'pages/front-page/sections/experience-section.twig' %}
	</main>
{% endblock %}
