<section class="experience" id="experience">
	<div class="c-container">
		<div class="experience__column">
			<h2 class="experience__column__title gradient-title wow animate__animated animate__fadeInUp">My Experience</h2>
			{% include 'components/experience-card.twig' with {
				logoHref: "https://www.spark.ba/",
				logo: "logo-spark.png",
				alText: "Spark school",
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}

			{% include 'components/experience-card.twig' with {
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}

			{% include 'components/experience-card.twig' with {
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}

			{% include 'components/experience-card.twig' with {
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}
		</div>
		<div class="experience__column">
			<h2 class="experience__column__title gradient-title wow animate__animated animate__fadeInUp">My Education</h2>
			{% include 'components/experience-card.twig' with {
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}

			{% include 'components/experience-card.twig' with {
				time: "2022 - Present",
				title: "LEAD DEVELOPER",
				location: "Blockdots, London"
			} %}
		</div>
	</div>
</section>
