<section class="recent-work" id="recent-work">
	<div class="c-container">
		<h2 class="recent-work__title gradient-title wow animate__animated animate__fadeInUp">My Recent Work</h2>
		<p class="recent-work__intro wow animate__animated animate__fadeInUp">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
		<div class="recent-work__projects">
			{% include 'components/recent-work-card.twig' with {
				image: "project-bigbear.png",
				altText: "BigBear project",
				link: "https://bigbear.ai/",
				title: "BigBear.ai",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}

			{% include 'components/recent-work-card.twig' with {
				image: "project-oceansignal.png",
				altText: "Ocean signal project",
				link: "https://oceansignal.com/",
				title: "Ocean Signal",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}

			{% include 'components/recent-work-card.twig' with {
				image: "project-bigbear.png",
				altText: "BigBear project",
				link: "https://bigbear.ai/",
				title: "BigBear.ai",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}

			{% include 'components/recent-work-card.twig' with {
				image: "project-bigbear.png",
				altText: "BigBear project",
				link: "https://bigbear.ai/",
				title: "BigBear.ai",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}
		</div>
	</div>
</section>
