<section class="services" id="services">
	<div class="c-container">
		<h2 class="services__title gradient-title wow animate__animated animate__fadeInUp">My Services</h2>
		<div class="services__container">
			{% include 'components/service-card.twig' with {
				number: "01",
				name: "Web design",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}
			{% include 'components/service-card.twig' with {
				number: "01",
				name: "Web design",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}
			{% include 'components/service-card.twig' with {
				number: "01",
				name: "Web design",
				description: "I break down complex user experinece problems to create integritiy focussed solutions that connect billions of people"
			} %}
			<div class="services__container__overlay js-service-overly"></div>
		</div>
	</div>
</section>
