// File for defining common button styles

.c-button {
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 50px;
  outline: none;
  padding: 17px 35px;
  transition: background-color 300ms ease-out, transform 150ms ease-out;
  letter-spacing: 1px;

  &:hover, &:focus {
    color: $color-white;
    background-color: $color-primary;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background-color: lighten($color-black, 80%);
  }
}
