//
// File for definition of all core common contents such as
// default project font (for html element), some body styles
// etc.
//
@import "variables";

html {
  margin-top: $height-navbar;
  font-size: 10px;
  font-family: 'Sora', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;

  &.admin-logged-in {
    margin-top: $height-navbar + $height-wp-admin-bar !important;
  }

  * {
    box-sizing: border-box;
  }
}

body {
  font-size: 1.6rem;
  color: $color-body-font;
  background-color: $color-background;

  h1 {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  &.fixed {
    position: fixed;
  }
}

@include respondBetween(0 ,$breakpoint-tablet) {
  body {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
}
