%gradient-title {
  font-size: 65px;
  background: $color-primary;
  background: linear-gradient(to right, $color-primary 0%, $color-white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title {
  @extend %gradient-title;
}
