//
// This file contains all common variables used in whole project.
//

// Page container
// Large screen
$max-width-container-ls: 1320px;
// Medium screen
$max-width-container-ms: 1140px;
// Small screen
$max-width-container-ss: 960px;
$padding-page-container: 20px;

// Breakpoints
$breakpoint-mid-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 575px;

//Section padding
$section-padding-desktop: 120px;
$section-padding-mobile: 60px;

// Navbars
$height-navbar: 105px;
$height-wp-admin-bar: 32px;
