<footer>
    <div class="c-container">
		<div class="footer__icons">
			<a class="c-social-icon" href="#" target="_blank">
				{{ load_svg("icon-linkedin.svg") }}
			</a>
			<a class="c-social-icon" href="#" target="_blank">
				{{ load_svg("icon-upwork.svg") }}
			</a>
		</div>
		Handcrafted with love by me. </br> © {{ 'now' | date('Y') }}
    </div>
</footer>

{{ function('wp_footer') }}

{# Include global scripts and styles here #}
{% include 'scripts/scripts-footer.twig' %}
