<nav class="c-navbar js-modal-padding {{ is_admin_logged_in() ? 'admin-logged-in' : '' }}">
    <div class="c-container">
        <div class="navbar-logo-container">
		{#<img src="{{ image('logo-white.png') }}" alt="Logo">#}
			{{ load_svg("logo.svg") }}
        </div>
		<div class="navbar-navigation">
			<ul class="navbar-navigation__navigation">
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#about">About</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#services">Services</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#portfolio">Portfolio</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#experience">Experience</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#skills">Skills</a>
				</li>
			</ul>
		</div>
    </div>
</nav>
