<div class="c-service-card js-service-box wow animate__animated animate__fadeInUp">
	<div class="c-service-card__service">
		<span class="c-service-card__service__number">{{ number }}</span>
		<h3 class="c-service-card__service__name">{{ name }}</h3>
	</div>
	<div class="c-service-card__description">
		<p>{{ description }}</p>
	</div>
	<div class="c-service-card__icon">
		{{ load_svg("icon-arrow.svg") }}
	</div>
</div>
