<div class="c-skill-card wow animate__animated animate__fadeInUp">
	<div class="c-skill-card__logo">
		<img class="c-skill-card__logo__img" src="{{ image(logo) }}" alt="{{ altText }}">
		<span class="c-skill-card__logo__title"> {{ title }} </span>
	</div>
</div>
