//// All footer styles are defined here.
////

footer {
  width: 100%;
  padding: 20px;
  background-color: $color-black;

  .c-container {
    text-align: center;

    .footer__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .c-social-icon {
        margin: 0 5px;
      }
    }
  }
}
