.recent-work {
  padding: 120px 0;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 20px;
  }

  &__intro {
    margin: 0 auto 50px auto;
    max-width: 900px;
  }

  &__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 27%;
      height: 27%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: var(--tj-theme-primary);
      background: linear-gradient(260deg, $color-primary 0%, rgba(115, 67, 210, 0) 100%);
      -webkit-filter: blur(150px);
    }
  }
}

@include respondBetween(0 , $breakpoint-mid-desktop) {
  .recent-work {
    &__projects {
      gap: 30px;
    }
  }
}

@include respondBetween(0 , $breakpoint-tablet) {
  .recent-work {
    .c-container {
      max-width: 600px;
    }

    &__projects {
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }
}

@include respondBetween(0 , $breakpoint-mobile) {
  .recent-work {
    &__projects {
      gap: 20px;

      &__project {
        &__description {
          transform: translateY(0px);
          padding: 15px;

          &__title {
            margin-top: 0;
            font-size: 2.3rem;
          }

          &__text {
            margin: 0;
            font-size: 1.5rem;
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@include respondBetween(0 , 375px) {
  .recent-work {
    &__projects {
      gap: 40px;
    }
  }
}
