.skills {
  padding: $section-padding-desktop 0;
  background-color: $color-black;

  &__title {
    display: inline-flex;
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@include respondBetween(0, $breakpoint-mobile) {
  .skills {
    padding: $section-padding-mobile 0;
  }
}
