.skills {
  padding: 120px 0;
  background-color: $color-black;

  &__title {
    display: inline-flex;
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
